@page
@model kennel_bambino.web.Pages.Admin.Carousels.DeleteModel
@{
    ViewData["Title"] = "Delete Carousel";
}


<a asp-page="Index" class="btn btn-secondary border border-info my-2"><i class="fas fa-arrow-left fa-fw"></i> Back to List</a>



<div class="card border-secondary">
    <div class="card-header text-capitalize bg-danger badge-light">
        <i class="fa fa-trash-alt fa-fw"></i> @ViewData["Title"]
    </div>



    <div class="card-body">

        <form method="post" class="form-group" autocomplete="on">
            <table class="table table-info table-hover">
                <tbody>
                    <tr class="table-active">
                        <th scope="row">ID</th>
                        <td><span class="badge badge-dark">@Model.Carousel.CarouselId</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Image</th>
                        <td>
                            <img src="~/images/carousels/@Model.Carousel.ImageName"
                                 class="rounded img-thumbnail fixed-width-img-85 " asp-append-version="true" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Alt</th>
                        <td>
                            <span class="badge badge-dark">@Model.Carousel.Alt</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-warning disabled">
                <i class="fa fa-trash-alt fa-fw"></i> Delete
            </button>

        </form>
    </div>
</div>

