@page
@model kennel_bambino.web.Pages.Admin.EyeColors.CreateModel
@{
    ViewData["Title"] = "Create New EyeColor";
}


@if (ViewData["Message"] != null)
{
    <div class="alert alert-dismissible alert-warning badge-light">
        <i class="fa fa-exclamation-triangle fa-fw"></i> @ViewData["Message"]
    </div>
}

<div class="card border-secondary">
    <div class="card-header text-capitalize bg-success ">
        <i class="fa fa-plus fa-fw"></i> @ViewData["Title"]
    </div>

    <div class="card-body">

        <form method="post" class="form-group" autocomplete="on">
            <div class="form-group">
                <label class="col-form-label" asp-for="EyeColor.Name"></label>
                <input type="text" class="form-control" asp-for="EyeColor.Name" />

                <span asp-validation-for="EyeColor.Name" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-plus fa-fw"></i> Add
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


