@page "{id:min(1)}"
@model kennel_bambino.web.Pages.Admin.Photos.DeleteModel
@{
    ViewData["Title"] = "Delete Photo";
}



<a asp-page="Index" class="btn btn-secondary border border-info my-2"><i class="fas fa-arrow-left fa-fw"></i> Back to List</a>



<div class="card border-secondary">
    <div class="card-header text-capitalize bg-danger badge-light">
        <i class="fa fa-trash-alt fa-fw"></i> @ViewData["Title"]
    </div>


    <div class="card-body">

        <form method="post" class="form-group">
            <table class="table table-info table-hover">
                <tbody>
                    <tr class="table-active">
                        <th scope="row">ID</th>
                        <td><span class="badge badge-dark">@Model.Photo.PhotoId</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Image</th>
                        <td>
                            <img src="~/images/thumbnails/@Model.Photo.PhotoName" alt="@Model.Photo.Pet.Title"
                                 class="rounded img-thumbnail fixed-width-img-85 " asp-append-version="true" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Pet</th>
                        <td>
                            <span class="badge badge-dark">@Model.Photo.Pet.Title</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-danger disabled">
                <i class="fa fa-trash-alt fa-fw"></i> Delete
            </button>

        </form>
    </div>
</div>

